/*Seletor universal
*{
  border: 1px solid red;
}*/

/*Seletor de texto
h1{
  color: green;
}*/

/*Seletor de classe
.verde{
  color: green;
}

p.verde{
  color: green;
}*/


/*Seletor de ID
#cabecalho{
  border: 1px solid blue;
}*/

/*Seletor de filho
li>a{
  color: red;
  text-decoration: none;
}*/

/*Seletor descendente
div a {
  color: green;
}*/

/*Seletor de irmao
h1 + p {
  color: green;
}*/

/*Seletor geral*/
h1 ~ p{
  color: red;
}
