/* Reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Ubuntu";
  font-weight: normal;
  box-sizing: border-box;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 1.5em;
  color: #333333;
}
p {
  font-size: 1em;
  color: #fff;
}
body {
  background: url(../img/background.jpg) center center no-repeat fixed;
}

/* Cabeçalho */
.cabecalho {
  width: 100%;
  float: left;
  padding: 50px 8%;
  background-color: #252526;
}

.cabecalho form {
  width: 30%;
  float: right;
}

.cabecalho input[type="text"] {
  margin-top: 60px;
  width: 85%;
  float: left;
  padding: 15px 10px;
  border-radius: 10px;
}

.cabecalho button {
  margin-top: 60px;
  width: 15%;
  float: right;
  padding: 15px 10px;
  background-color: #3bd962;
  color: #252526;
  border-radius: 10px;
  cursor: pointer;
}

.logo a {
  width: 200px;
  height: 200px;
  float: left;
  background: url(../img/logo.png) no-repeat;
  font-size: 0;
  background-size: contain;
}
.menu {
  width: 100%;
  float: left;
  background-color: #36bf58;
  padding: 0px 8%;
}
.menu li {
  float: left;
}
.menu li a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
  padding: 10px 8px;
  display: inline-block;
}
.menu li a:hover {
  color: #fff;
  display: block !important;
  background: #111;
}
ul li:hover {
  background: #fff;
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  background: #fff;
  display: block;
  width: 100%;
}

/* social icons */
.social-icons {
  float: right;
  margin-top: -30px;
  margin-right: 60px;
}

.social-icons a {
  color: #fff;
  float: left;
  margin-left: 12px;
}

.btn-facebook:hover {
  color: #3b5998;
}
.btn-twitter:hover {
  color: #65a5d6;
}
.btn-google:hover {
  color: #d73d32;
}
.principal {
  width: 98%;
  float: left;
  padding: 20px 8%;
  background-color: #252526;
  border-radius: 10px;
  margin: 20px 15px 15px 10px;
}
.sobre {
  width: 70%;
  float: left;
  padding: 0 20px 20px 0;
}
.sobre h2 {
  margin-bottom: 15px;
  color: #fff;
}
.sobre img {
  width: 50%;
  float: left;
  border-radius: 5px;
  margin: 0 15px 15px 0;
}

.sobre p {
  text-align: justify;
}

.onde-estamos {
  width: 30%;
  float: right;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #a7f294;
}
.onde-estamos h2 {
  margin-bottom: 15px;
  color: #111;
}

.onde-estamos iframe {
  border-radius: 5px;
  width: 100%;
  height: 250px;
  margin: 20px 0;
}
.onde-estamos p {
  text-align: justify;
  color: #111;
}
.onde-estamos li {
  margin-bottom: 10px;
}

.onde-estamos i {
  margin-right: 5px;
}
.button {
  display: inline-block;
  margin-left: 40px;
  padding: 15px 15%;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
